.DS_Store
.AppleDouble
.LSOverride

#### Xcode Per User Files
*.pbxuser
*.perspectivev3
xcuserdata/
*.xcworkspace/xcshareddata/*.xccheckout
*.xcworkspace/xcshareddata/*.xcscmblueprint
*.xcodeproj/*.xcworkspace/xcshareddata/*.xccheckout
*.xcodeproj/*.xcworkspace/xcshareddata/*.xcscmblueprint
Pods/*
Fridgify.xcworkspace/xcuserdata/muradbay.xcuserdatad/UserInterfaceState.xcuserstate
